.input-to-btn {
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 100%;
    font-family: inherit;
}

@mixin button($bg-color, $bg-color-hover) {
    background-color: $bg-color;
    border: 2px solid $bg-color;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.8em;
    padding: 0.7em 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 300ms linear;
    appearance: none;
    &:hover {
        background-color: $bg-color-hover;
    }
}

.main-btn {
    @include button($color-button-main, $color-button-main-hover);
}

.create-btn {
    @include button($color-button-main, $color-button-main-hover);
    display: inline-block;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 1em;
    border-color: $color-background-main;
}

.show-btn {
    display: block;
    margin: 1em 0;
    @include screen-m {
        width: auto;
        display: inline-block;
        margin: 0;
    }
}

.add-btn {
    @include button($color-button-add, $color-button-add-hover);
    @include screen-m {
        font-size: 0.8rem;
    }
}

.edit-btn {
    @include button($color-button-edit, $color-button-edit-hover);
    @include screen-m {
        font-size: 0.8rem;
    }
}

.delete-btn {
    @include button($color-button-delete, $color-button-delete-hover);
    @include screen-m {
        font-size: 0.8rem;
    }
}