$color-background: #EEE;
$color-background-main: #F6F6F6;
$color-nav: #77C9D4;
$color-footer: #022F4F;

$color-primary: #033E68;

$color-button-main: #77C9D4;
$color-button-main-hover: #2CD1CA;
$color-button-add: #296A99;
$color-button-add-hover: #77C9D4;
$color-button-edit: #BEBE4E;
$color-button-edit-hover: #CCCC73;
$color-button-delete: #B01030;
$color-button-delete-hover: #ED899D;