@mixin screen-s {
    @media screen and (min-width: 568px) {
        @content;
    }
}

@mixin screen-m {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin screen-l {
    @media screen and (min-width: 960px) {
        @content;
    }
}

@mixin screen-xl {
    @media screen and (min-width: 1275px) {
        @content;
    }
}

@mixin screen-xxl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$font-family: 'Montserrat';

@import "./colors";
@import "./buttons";
@import "./nav";
@import "./tables";
@import "./forms";
@import "./single_event";


html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $color-background;
    margin: 0;
    font-family: $font-family, sans-serif;
    font-weight: 400;
    height: 100%;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    height: 100%;
    @include screen-xl {
        padding: 0 10% 0 10%;
    }
    @include screen-xxl {
        padding: 0 15% 0 15%;
    }
}

header {
    flex: 0 1 auto;
}

main {
    flex: 1 1 auto;
    background-color: $color-background-main;
    padding: 3%;
    @include screen-l {
        padding-left: 5%;
        padding-right: 5%;
    }
}

footer {
    flex: 0 1 auto;
    background-color: $color-footer;
    text-align: center;
    padding: 1em 0;
    color: white;
    font-size: 0.8rem;
}

h2 {
    margin: 0.5em 0;
    font-size: 1.7rem;
    color: $color-primary;
}

h4 {
    margin: 0.5em 0;
    font-size: 1rem;
    color: $color-primary;
}

.note {
    font-size: 0.8rem;
    color: grey;
    margin-top: 0;
}

.success-msg {
    color: $color-msg-success;
    background-color: $color-msg-success-bg;
    margin: 1em 0;
    padding: 0.8em;
}

.error-msg {
    color: $color-msg-error;
    background-color: $color-msg-error-bg;
    margin: 1em 0;
    padding: 0.8em;
}